//- 導覽列
nav.navbar.navbar-default.navbar-fixed-top.at_top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.myanimate(href='http://yuntingweb.com/index.html#header_index') Ting
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li.myanimate
          a(href='http://yuntingweb.com/index.html#section_about') About
        li.myanimate
          a(href='http://yuntingweb.com/index.html#section_works')
            | Works
            span.sr-only (current)
        li.myanimate
          a(href='http://yuntingweb.com/index.html#section_contact') Contact
          
        li
          a(href='http://yuntingweb.com/resume/index.html' target='_blank') Resume
    // /.nav-collapse
//首頁
header#header_index
  .container
    .projectTitle
      h1 
        span.topic PanLex - Intern
    .jobTitle
      h2 Front-End Developer
    
    .circle 
      p css html <br> d3.js <br> Ae Ai
      
    img.icon(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/703747/panlex.gif")
    .linktoDemo 
      a(href="demo/index.html" target="_blank") Try me out!
    .tape.tape1
    .tape.tape2
    h3 
      span.topic Overview
    
    .projectInfo
      ul
        li ♣  Evaluated the older version of panlex website with UX methodologies; provided recommendations
        li ♣  Built interactive mockup with Ae to prototype the front-page interaction
        li ♣  Coded up interactive application with D3.js

section#problem
  .container
    .tape.tape1
    .tape.tape2
    h3     
      span.topic Problems
        
    ul
      li ♣  failed to differentiate target users of the home site and the developer site
        p There are many overlapping information of the panlex home site (panlex.org)
          | <br> and the developer’s site (dev.panlex.org). We believe the target users 
          | <br>of PanLex’s home site were meant to be people who explore this website 
          | <br> for the first time.
      h4 ✘  Suggestion
        p the home site should aim to provide basic information, such as a try it function,
          |<br> or even some visualization to assist novice users to grab the overall idea
          |<br> of this project. If the novice users want to dig further into the project, 
          |<br> they can direct to the developer’s site for further information. 
      li ♣  redundant links cause confusion
        p there are many different links directing to the same page. For example, under 
          |<br> the technology tab, there are 3 links in the list that direct users to the
          |<br> PanLex resource page, which is confusing and redundant.Besides, there are 
          |<br> many reference links on the homepage, research page and try it page, which
          |<br> is not helpful in providing the overall idea of the project.
      h4 ✘  Suggestion
        p  unnecessary links can be transformed to plain text to reduce confusion. 
          |<br> In addition, appropriate deployment of image would be helpful for first-time
          |<br> visitors to better understand panlex with very little effort      
      li ♣  Inconsistency: unorganized internal and external links
        p there are both internal links and external links placing adjacently in the same area,
          |<br>which confuses users in directing the website.
      h4 ✘  Suggestion
        p a large amount of the external links direct the user’s from the home site to thedeveloper’s site
        p suggested sitemap:
          img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/703747/panlex_sitemap.png')

section#mockup
  .container
    .tape.tape1
    .tape.tape2
    h3 
      span.topic Interactive Mockup
    h4 created an mockup to prototype the playful interaction
    .video
      iframe(src='https://www.youtube.com/embed/AISytOowI-M?autoplay=1')

    .next
      h2 
        a(href="http://yuntingweb.com/index.html#section_works")  close

        

