@import url("https://fonts.googleapis.com/css?family=Just+Another+Hand");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:700");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:700|Dosis");
* {
  font-family: "Dosis", sans-serif;
}

html, body {
  overflow-x: hidden;
  font-size: 16px;
}

header {
  position: relative;
  background-color: #1d3557;
  text-align: center;
}
header .icon {
  width: 200%;
  max-width: 400px;
  padding: 250px 0px;
}
header .marginbottom {
  position: absolute;
  width: 95%;
  bottom: 0px;
  right: 0px;
  z-index: 3;
  -webkit-animation: upin 2s both;
          animation: upin 2s both;
}
@-webkit-keyframes upin {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes upin {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0px;
  }
}
header .explore {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 16px;
  color: #a8dadc;
  top: 85%;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .explore:after {
  display: block;
  content: "v";
  -webkit-transform: scaleX(1.2) scaleY(0.5);
          transform: scaleX(1.2) scaleY(0.5);
}
header .explore.at_top {
  opacity: 1;
}

nav.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
nav.navbar li {
  font-size: 20px;
}
nav.navbar a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav.navbar.at_top {
  background-color: transparent;
}
nav.navbar.at_top a, nav.navbar.at_top a:visited {
  color: white;
}

section {
  padding: 60px;
  position: relative;
}

section#section_about {
  background-color: #3795d1;
}
section#section_about .container {
  -webkit-transform: rotate(15deg) scale(0.9);
          transform: rotate(15deg) scale(0.9);
}
section#section_about .row {
  height: 150px;
  color: black;
}
section#section_about .row .r1text {
  font-family: "Amatic SC", cursive;
  font-size: 65px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
section#section_about .row .r2text {
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
section#section_about .row .r3text {
  font-family: "Amatic SC", cursive;
  font-size: 45px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: right;
}
section#section_about .cat {
  width: 30%;
  max-width: 300px;
  position: absolute;
  bottom: 0px;
  right: 60px;
}
section#section_about .marginbottom {
  position: absolute;
  width: 60%;
  top: calc(100% - 2px);
  z-index: 3;
}
section#section_about .btn-area {
  height: 150px;
}
section#section_about a {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%) rotate(10deg);
          transform: translate(-50%, -50%) rotate(10deg);
}
section#section_about #cross {
  position: absolute;
  z-index: 5;
  pointer-events: none;
}
section#section_about #cross:before, section#section_about #cross:after {
  content: "";
  display: block;
  width: 80px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
section#section_about #cross:after {
  -webkit-transform: translate(-50%, -50%) rotate(136deg);
          transform: translate(-50%, -50%) rotate(136deg);
}
section#section_about .tri {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
section#section_about .tri1 {
  width: 350px;
}
section#section_about .tri2 {
  width: 20px;
  margin-left: 20px;
}
section#section_about .tri3 {
  width: 150px;
  margin-left: 70%;
}
section#section_about .tri4 {
  width: 70px;
  margin-left: 100%;
}
section#section_about .tri5 {
  width: 80px;
  margin-left: 100%;
}

section#section_service {
  background-color: #ececec;
  padding-top: 200px;
  padding-bottom: 50px;
}
section#section_service .col-sm-4 {
  text-align: center;
}
section#section_service h1 {
  background-color: #1d3557;
  color: #ececec;
  font-size: 24px;
  padding: 5px 20px;
  display: inline-block;
  font-weight: normal;
}
section#section_service h3 {
  color: #3795d1;
  font-size: 20px;
}
section#section_service .icon_service {
  width: 60%;
}

section#section_works {
  background-color: #ececec;
  padding-top: 150px;
  padding-bottom: 200px;
}
section#section_works h1 {
  background-color: #1d3557;
  color: #ececec;
  font-size: 24px;
  padding: 6px 25px;
  display: inline-block;
  font-weight: normal;
}
section#section_works .marginbottom {
  position: absolute;
  width: 90%;
  right: 0px;
  top: calc(100% - 2px);
  z-index: 3;
  max-width: 900px;
}
section#section_works .col-sm-6 {
  overflow: hidden;
}
section#section_works .col-sm-6.work {
  padding-left: 30px;
}
section#section_works .work {
  height: 230px;
  cursor: pointer;
  position: relative;
  padding: 5px 5px;
}
section#section_works .work .project_link {
  z-index: 1000;
  display: block;
  height: 100%;
}
section#section_works .work.big {
  height: 460px;
}
section#section_works .work:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(128, 128, 128, 0.8);
  opacity: 0;
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 10px;
}
section#section_works .work .texts {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  opacity: 0;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
section#section_works .work .title {
  line-height: 30px;
  font-size: 26px;
}
section#section_works .work:hover:before, section#section_works .work:hover .texts {
  opacity: 1;
  z-index: 50;
}
section#section_works .work img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section#section_contact {
  background-color: #3795d1;
  color: white;
  overflow: hidden;
}
section#section_contact h2 {
  padding-top: 50px;
}
section#section_contact .mails {
  max-width: 500px;
}
section#section_contact .mailbody {
  background-color: #ececec;
  color: #1d3557;
  padding: 20px;
  padding-left: 40px;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}
section#section_contact .mailbody label {
  margin-top: 10px;
}
section#section_contact .mailbody input, section#section_contact .mailbody textarea {
  display: block;
  background-color: transparent;
  border: none;
  border: solid 3px #3795d1;
  padding: 1px 2px;
}
section#section_contact .mailbody textarea {
  height: 140px;
  width: 100%;
}
section#section_contact .mailcover {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 70%;
  -webkit-transform: rotate(5deg) scale(2) translate(-50%, -50%);
          transform: rotate(5deg) scale(2) translate(-50%, -50%);
}
section#section_contact .mailcover img {
  width: 120%;
}
section#section_contact .cat {
  width: 250px;
  position: absolute;
  bottom: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
section#section_contact #cat_blue {
  right: 260px;
  z-index: 3;
}
section#section_contact #cat_grey {
  right: 70px;
}
section#section_contact #cat_yellow {
  right: 170px;
}

footer#footer {
  background-color: #1d3557;
  text-align: center;
  color: white;
  padding: 25px 0px;
}
footer#footer .icon {
  width: 80%;
  max-width: 250px;
  padding: 80px 0px;
}

a.navbar-brand {
  font-family: "Just Another Hand", cursive;
  letter-spacing: 3px;
  font-size: 25px;
}
